html {
    font-family: arial;
    margin: 50px;
}

h1 {
    text-align: center;
}

h2{
    margin: 0px;
}

span {
    color: #febe01;
}

.item {
    background-color: #111;
    margin: 30px;
    padding: 30px;
    border-radius: 4px;
    color: #fff;
}

p {
    color: #b2b2b2;
}

a {
    text-decoration: none;
    color: #332100;
    background-color: #febe01;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}